<script type="text/javascript">
    $( document ).ready(function() {
        $('.comment-text-area').keyup(function (event) {
            if (event.keyCode == 13) {
                var content = this.value;
                var caret = getCaret(this);
                if (event.shiftKey) {
                    this.value = content.substring(0, caret - 1) + "\n" + content.substring(caret, content.length);
                    event.stopPropagation();
                } else {
                    this.value = content.substring(0, caret - 1) + content.substring(caret, content.length);
                    $('form').submit();
                }
            }
        });
    });
</script>

<%= form_for(@track_comment, html: { multipart: true }) do |f| %>


    <%= f.hidden_field :track_id, :value => @track_comment.track_id.to_s %>


    <div class="field">
      <%= f.text_area :text, placeholder: "Comment on this song", class: 'comment-text-area' %>
    </div>

    <%= f.submit "Post", class: "btn btn-success" %>

<% end %>