<iframe src="https://embed.spotify.com/?uri=<%= @track.spotify_uri %>" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

<section class="comment_form">
  <%= render 'comment_form' %>
</section>