<% provide(:title, "Home") %>

<div class="home">
  <h1>

    <div class="home-logo-box">
      <%= image_tag("m-logo-inverse.svg", class: "home-logo") %>
    </div>

    Welcome to Musick.af!
  </h1>
  <p>
    (beta)
  </p>

  <p>
    Vote on Your Favorite Playlists and Songs!


    <br>
    <br>
    <% if current_user %>
        <%= link_to "Import Spotify Library!", import_path(:id => current_user.id), class: "btn btn-lg btn-primary" %>
    <% end %>
  </p>
</div>